#logo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

#title {
  font: 5em $font-heavy;
  margin-top: 10px;
}

.under {
  font-size: 20px;
  margin-top: 30px;
  margin-right:auto;
  margin-left:auto;
  width:90%;
}
