%img#logo{ :src => "/assets/FWLogo-white.png", :alt => "fathomworks llc"}

#title fathomworks llc

.under Full-service iOS and Ruby on Rails development.
.under Need an app built? Let's get in touch.

.under
  %a.bold{ :href=> "mailto:hire@fathomworks.net"} hire@fathomworks.net