%img#logo{ :src => "/assets/FWLogo-white.png", :alt => "fathomworks llc"}

#title fathomworks llc

.under Full-service iOS and Ruby on Rails development.
.under Need an app built?</span> Let's get in touch.

%a.under.bold{ :href=> "mailto:hire@fathomworks.net"} hire@fathomworks.net