<img id="logo" src="assets/FWLogo-white.png">
<div id="title">FathomWorks</div>
<br/>
<div class="under">Full-service iOS and Ruby on Rails development.</div>
<div class="under">Need an app built?</span> Let's get in touch.</div>
<div class="under"><a class="bold" href="mailto:hire@fathomworks.net">hire@fathomworks.net</a></div>