<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="FathomWorks does native iOS and Ruby on Rails development, and is available for work.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/assets/application.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/assets/favicon.ico" >
  <title>fathomworks llc | iOS and Ruby on Rails Development</title>
</head>
<body>
  <%= yield %>
  <footer>
    &copy; <%= Time.now.year %> fathomworks llc
  </footer>
  <script src="/assets/srcset.min.js"></script>
  <% if ENV['RACK_ENV'] == 'production' %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36125961-1']);
        _gaq.push(['_setDomainName', 'fathomworks.net']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
<% end %>
</body>
</html>
