$font-medium: 'HelveticaNeue', Helvetica, sans-serif;
$font-heavy: 'Helvetica Neue LT Com 75 Bold', 'HelveticaNeue-Bold', Helvetica, sans-serif;

$dark-blue-color: #4a90e2;
$light-text-color: #ffffff;
$link-color: #ffffff;