@import "globals/variables";
@import "components/reset";

body {
  background-color: $dark-blue-color;
  color: #ffffff;
  text-align: center;
  font: 83%/1.4 $font-medium;
  line-height: 170%;
  font-weight: 200;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

